<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>content</key>
    <array>
        <dict>
            <key>functionIdentifier</key>
            <string>public.title</string>
            <key>settings</key>
            <dict>
                <key>title</key>
                <string>IT Support</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.submenu</string>
            <key>settings</key>
            <dict>
                <key>content</key>
                <array>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.test.http</string>
                        <key>settings</key>
                        <dict>
                            <key>URL</key>
                            <string>http://captive.apple.com</string>
                            <key>mode</key>
                            <string>md5</string>
                            <key>originalString</key>
                            <string>73a78ff5bd7e5e88aa445826d4d6eecb</string>
                            <key>repeat</key>
                            <integer>60</integer>
                            <key>title</key>
                            <string>Internet</string>
                            <key>imageBaseName</key>
                            <string>network</string>
                        </dict>
                    </dict>
                </array>
                <key>title</key>
                <string>Connection Test</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.submenu</string>
            <key>settings</key>
            <dict>
                <key>content</key>
                <array>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                        <dict>
                            <key>path</key>
                            <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/eth_info.sh</string>
                            <key>title</key>
                            <string>updateTitleWithMainIP</string>
                        </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                        <dict>
                            <key>path</key>
                            <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/wifi_info.sh</string>
                            <key>title</key>
                            <string>updateTitleWithMainIP</string>
                        </dict>
                    </dict>
                </array>
                <key>title</key>
                <string>IP addresses</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.submenu</string>
            <key>settings</key>
            <dict>
                <key>content</key>
                <array>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/disk_info.sh</string>
                                <key>title</key>
                                <string>DiskInfo</string>
                            </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/smart_status.sh</string>
                                <key>title</key>
                                <string>SMARTstatus</string>
                            </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/ram_info.sh</string>
                                <key>title</key>
                                <string>RAMInfo</string>
                            </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/os_info.sh</string>
                                <key>title</key>
                                <string>OSInfo</string>
                            </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/updates_info.sh</string>
                                <key>title</key>
                                <string>UpdateInfo</string>
                            </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/host_info.sh</string>
                                <key>title</key>
                                <string>HostnameInfo</string>
                            </dict>
                    </dict>
                    <dict>
                        <key>functionIdentifier</key>
                        <string>public.script.item</string>
                        <key>settings</key>
                            <dict>
                                <key>path</key>
                                <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/sn_info.sh</string>
                                <key>title</key>
                                <string>SNInfo</string>
                            </dict>
                    </dict>
                </array>
                <key>title</key>
                <string>Computer Details</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>https://wiki.yourcompany.com</string>
                <key>title</key>
                <string>YourCompany Wiki</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>https://jira.yourcompany.com</string>
                <key>title</key>
                <string>YourCompany Jira</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>mailto:helpdesk@yourcompany.com?subject=Hello+IT</string>
                <key>title</key>
                <string>Email the Help Desk</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.separator</string>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.title</string>
            <key>settings</key>
            <dict>
                <key>title</key>
                <string>Account Info</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.script.item</string>
            <key>settings</key>
                <dict>
                    <key>path</key>
                    <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/current_user.sh</string>
                    <key>title</key>
                    <string>UserInfo</string>
                </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.script.item</string>
            <key>settings</key>
                <dict>
                    <key>path</key>
                    <string>/Library/Application Support/com.github.ygini.hello-it/Scripts/pw_info.sh</string>
                    <key>title</key>
                    <string>PWInfo</string>
                </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.separator</string>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.title</string>
            <key>settings</key>
            <dict>
                <key>title</key>
                <string>Resources</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>https://www.google.com/a/yourcompany.com/</string>
                <key>title</key>
                <string>Google Mail &amp; Calendar</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>https://lastpass.com/</string>
                <key>title</key>
                <string>LastPass</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>https://yourcompany.hrportal.com</string>
                <key>title</key>
                <string>HR Portal</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.resource</string>
            <key>settings</key>
            <dict>
                <key>URL</key>
                <string>https://wiki.yourcompany.com/Yummies/Catering+Menus</string>
                <key>title</key>
                <string>Lunch Menus</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.separator</string>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.title</string>
            <key>settings</key>
            <dict>
                <key>title</key>
                <string>Key Applications</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.application</string>
            <key>settings</key>
            <dict>
                <key>app</key>
                <string>HipChat</string>
                <key>title</key>
                <string>HipChat</string>
                <key>hideIfNotAvailable</key>
                <string>YES</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.application</string>
            <key>settings</key>
            <dict>
                <key>app</key>
                <string>Slack</string>
                <key>title</key>
                <string>Slack</string>
                <key>hideIfNotAvailable</key>
                <string>YES</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.application</string>
            <key>settings</key>
        <dict>
            <key>functionIdentifier</key>
            <string>public.open.application</string>
            <key>settings</key>
            <dict>
                <key>app</key>
                <string>Self Service</string>
                <key>title</key>
                <string>Self Service</string>
                <key>hideIfNotAvailable</key>
                <string>YES</string>
            </dict>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.separator</string>
        </dict>
        <dict>
            <key>functionIdentifier</key>
            <string>public.quit</string>
        </dict>
    </array>
</dict>
</plist>
